<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="./css/media-index.css">
</head>
<body>
    <header>
        <div class="logo">
            <p class="logotext">NodeTube</p>
        </div>
        <div class="search">
            <input type="text" class="search_input input" placeholder="Search">
        </div>
        <div class="nav">
            <a href="/new/upload" class="uploadref">
                <img src="/svgs/upload.svg" alt="Upload" width="20px" height="20px">
            </a>
            <a href="/account">
                <img src="/svgs/account.svg" alt="Account" width="20px" height="20px">
            </a>
            <!--<a href="/about" class="aboutref">About</a>-->
        </div>
    </header>


    {{{body}}}
</body>
</html>